body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1e3e3;
    text-align: center;
}
div {
    background-color: #0e0f50;
    width: 500px;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}
h1 {
    color: #cfaa02;
}
img {
    width: 350px;
    height: auto;
    margin-bottom: 10px;
}
P {
    color: #cfaa02;
}